
/* Mateusz do home page */
div[class="mw-menu"] {
    text-align: right;
    margin: 0 auto;
}

h1[class="h1-cls"] {
    text-align: center;
}

p[class="mw-paragraph"]  {
    text-align: justify;
    width: 100%;
}

div[class="mw-columns"] {
    display: flex;

}

div[class="mw-box"] {
    padding: 10px;

}

@media (max-width: 768px) {
    .mw-columns {
        flex-direction: column;
    }
}

.mw-sources a:hover {
    color: pink;
}
/*Mateusz Images page */

h1[class=h1-cls] {
    text-align: center;
}

.mw-images img {
    width: 50%;
    height: 30%;
    margin-bottom: 1cm;
    padding: 20px;
    background-color: grey;
}

/* A.Y. task2 */

.h1-cls {
    text-align: center;
}

table {
    width: 100%;
    margin: 25px 0;
    font-size: 18px;
    border-collapse: collapse;
    text-align: left;
}

th {
    border-collapse: collapse;
    background-color: black;
    color: white;
    padding: 12px;
}

td {
    border: 2px solid gray;
    text-align: left;
}

