/* Mateusz do home page */
div[class="mw-menu"] {
    text-align: right;
    margin: 0 auto;
}

h1[class="h1-cls"] {
    text-align: center;
}

p[class="mw-paragraph"]  {
    text-align: justify;
    width: 100%;
}

div[class="mw-columns"] {
    display: flex;

}

div[class="mw-box"] {
    padding: 10px;

}

@media (max-width: 768px) {
    .mw-columns {
        flex-direction: column;
    }
}

.mw-sources a:hover {
    color: pink;
}
/*Mateusz Images page */

h1[class=h1-cls] {
    text-align: center;
}

.mw-images img {
    width: 50%;
    height: 30%;
    margin-bottom: 1cm;
    padding: 20px;
    background-color: grey;
}